@import url(./assets/css/root.css);
.section1_background {
background-image: url(./assets/images/webp/header_img.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}
.navBar_padding{
  padding-top: 13px;
  padding-bottom: 13px;
}
.font_family_Eurostile{
  font-family:"EurostileExtended" ;
}
.max_width_1140{
  max-width: 1140px;
}
.navButton{
  padding: 13.47px 8.78px;
  border: 0;
  background: yellow;
}
.section2_box{
  max-width: 1102px;
  border: 1px solid #FCE500C7;
  border-radius: 24px;
  padding: 63px 54px 50px;
}
.BoxEllipse{
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.Sec2Ellipse_right{
  right: 0;
  top: -3%;
}
.laptopImg_size{
  max-width:530px;
}
.SenditEllipse_left{
top: 10%;
}
.sendit_input{
  padding: 16px 22px 12px;
}






.max_width_522{
max-width: 522px;
}
.section1_paddings{
  padding-top: 109px;
  padding-bottom: 96.84px;
}
.section2_padding_top{
  padding-top: 182px;
}

.sendit_section_padding{
  padding-top: 164px;
  padding-bottom: 168px;
}
.margin_top_13{
margin-top: 13px;
}
.margin_top_30{
  margin-top: 30px;
}


.sendit_input {
 outline: none !important;
 border: 0;
 border: 0.5px solid #F2F2F366;
 background: #F2F2F31A;
 border-radius: 3px;
}
.sendit_input::placeholder{
  color: #FFFFFF;
  opacity: 56%;
}
.sendit_input:focus{
  border: 0.5px solid #FCE500;
}
@media (min-width:1200px) {
  .img_translate{
    transform: translateX(-27px);
  }
}
